body {
	font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica", "Arial", sans-serif;

	margin-top: 40px;
	background-color: #F6F6F7;
}

input, textarea {
	border: none;
}

input[type=button] {
	-webkit-appearance: none;
	background-color: #EEE;
}

em {
	font-style: italic;
}

#titleBar {
	background-color: #F6F6F7;
	border-bottom: solid 1px #A7A7AA;
	
	position: relative;
	
	top: 0px;
	left: 0px;
	right: 0px;
	
	height: 86px;
}

#titleBarText {
	position: absolute;
	top: 24px;
	left: 0px;
	right: 0px;
	
	color: black;
	
	text-align: center;
	
	font-family: "Helvetica Neue Medium", "HelveticaNeue-Medium";
	font-size: 34px;
}

#titleBarButton {
	position: absolute;
	right: 24px;
	top: 24px;
	
	display: block;
	
	font-family: "Helvetica Neue Medium", "HelveticaNeue-Medium";
	font-size: 34px;

	color: #2F90FA;
	
	display: none;
}

#screenContainerParent {
	position: absolute;
	
	top: 127px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#screenContainer {
	position: relative;
	
	width: 100%;
	height: 100%;
}

.screen {
	position: absolute;
	
	top: 0px;
	left: 0px;
	bottom: 0px;
	
	width: 100%;
	
	/*
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;*/
}

.signatureButton {
	background-color: rgba(253, 249, 207, 1);
	
	font-family: "Helvetica Neue", "HelveticaNeue";
	font-size: 34px;
	
	text-align: center;
	
	display: block;
	border-radius: 15px;
	margin-bottom: 20px;
	
	padding: 108px 20px;
}

.disabled {
	opacity: 0.2;
}

.buttonGrad {
	/* Legacy browsers */
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	/* Recent browsers */
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(rgba(250,250,250,1)),
		to(rgba(150,150,150,1))
	);
	background: -webkit-linear-gradient(
		top,
		rgba(250,250,250,1),
		rgba(150,150,150,1)
	);
	background: -moz-linear-gradient(
		top,
		rgba(250,250,250,1),
		rgba(150,150,150,1)
	);
	background: -o-linear-gradient(
		top,
		rgba(250,250,250,1),
		rgba(150,150,150,1)
	);
	background: linear-gradient(
		top,
		rgba(250,250,250,1),
		rgba(150,150,150,1)
	);
}
