body {
	font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
	margin-top: 40px;
}

em {
	font-style: italic;
}

#titleBar {
	background-image: url("assets/titleBar.png");
	
	position: relative;
	
	top: 0px;
	left: 0px;
	right: 0px;
	
	height: 87px;
}

#titleBarText {
	position: absolute;
	top: 24px;
	left: 0px;
	right: 0px;
	
	color: #656872;
	
	text-align: center;
	text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.55);
	
	font-family: "Helvetica Neue Bold", "HelveticaNeue-Bold";
	font-size: 38px;
}

#titleBarButton {
	position: absolute;
	right: 1px;
	top: -3px;
	
	display: block;
	
	padding: 17px;
	
	font-family: "Helvetica Neue Bold", "HelveticaNeue-Bold";
	font-size: 24px;
	
	display: none;
}

.titleBarLeft, .titleBarRight {
	width: 11px;
	height: 61px;
	
	float: left;
}

.titleBarMiddle {
	height: 43px;
	background-image: url("assets/titleButtonMid.png");
	background-repeat: repeat-x;
	
	font-family: "Helvetica Neue Bold", "HelveticaNeue-Bold";
	font-size: 24px;
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
	
	color: white;
	
	padding-top: 18px;
	padding-left: 15px;
	padding-right: 15px;
	
	float: left;
}

.titleBarLeft {
	background-image: url("assets/titleButtonLeft.png");
}

.titleBarRight {
	background-image: url("assets/titleButtonRight.png");
}

#screenContainerParent {
	position: absolute;
	
	top: 127px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#screenContainer {
	position: relative;
	
	width: 100%;
	height: 100%;
}

.screen {
	position: absolute;
	
	top: 0px;
	left: 0px;
	bottom: 0px;
	
	width: 100%;
	
	/*
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;*/
}

.signatureButton {
	background-color: rgba(253, 249, 207, 1);
	
	font-family: "Helvetica Neue", "HelveticaNeue";
	font-size: 34px;
	
	text-align: center;
	
	display: block;
	border-radius: 15px;
	margin-bottom: 20px;
	
	padding: 108px 20px;
	
	border: solid 2px rgba(150, 150, 150, 1);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 0px 20px rgba(100, 100, 0, 0.1);
}

.disabled {
	opacity: 0.2;
}

.buttonGrad {
	/* Legacy browsers */
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	/* Recent browsers */
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(rgba(250,250,250,1)),
		to(rgba(150,150,150,1))
	);
	background: -webkit-linear-gradient(
		top,
		rgba(250,250,250,1),
		rgba(150,150,150,1)
	);
	background: -moz-linear-gradient(
		top,
		rgba(250,250,250,1),
		rgba(150,150,150,1)
	);
	background: -o-linear-gradient(
		top,
		rgba(250,250,250,1),
		rgba(150,150,150,1)
	);
	background: linear-gradient(
		top,
		rgba(250,250,250,1),
		rgba(150,150,150,1)
	);
}
